[Desktop Entry]
Name=syncBackup
GenericName=Backup Tool
Encoding=UTF-8
Comment=Backup and mirror your drives
Exec=syncbackup
Icon=com.darhon.syncbackup
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;
